.link-area {
  a {
    padding: 0 0.2rem;
  }
}

.breadcrumb-item {
  &::after {
    color: #ffffff;
    content: "";
  }
}

.component-wrapper {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;

  &.last {
    &::after {
      content: "";
    }
  }

  &::after {
    color: #fff;
    content: "/";
  }
}
