.scaffold {
  background-color: lightcyan;
  border: 1px solid black;
}

.mb__standard {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1178px) {
  .username-hero {
    font-size: 3.375rem;
  }
}

@media only screen and (max-width: 1178px) {
  .username-hero {
    font-size: 3rem;
  }
}
